<h1> Register</h1>


<form action="/register" method="POST">


    <label for="firstname"> first name</label>
    <input type="text" name="firstname" id="firstname">
    <br>
    <label for="lastname"> last name</label>
    <input type="text" name="lastname" id="lastname">
    <br>
    <label for="username"> Username</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="email"> email</label>
    <input type="email" name="email" id="email">
    <br>
    <label for="password"> password</label>
    <input type="password" name="password" id="password">
    <br>
    <button type="submit"> Register</button>

</form>

<a href="/login"> login </a>